<nav id="navbar">
    <div class="nav-container">
        <a href="{{ '/' | relative_url }}" class="nav-brand">Patrick McFadin</a>
        <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#book">Book</a></li>
            <li><a href="#interests">Interests</a></li>
            <li><a href="#articles">Articles</a></li>
            <li><a href="{{ '/articles.html' | relative_url }}">All Articles</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>